* {
	box-sizing: border-box;
}

.sambungan {
	height: 150px;
	background-color: #EFEFEF;
	position: relative;
}

.more{
	position: absolute;
	width: 350px;
	height: 100px;
	background-color: #97EAFF;
	box-shadow: 7px 7px 5px #DEDEDE;
	top: 100px;
	left: 180px;
	line-height: 100px;
	font-size: 35px;
	text-align: center;
	font-weight: bold;

}






.ryan-tiket {
	width: 80%;
	height: 368px;
	margin : 110px auto 50px;
	border: 2px solid #8D8D8D;
	box-shadow: -10px 10px 5px #DEDEDE;
	position: relative;

}

.ryan-nav{
	display: block;
	width: 160px;
	height: 70px;
	box-shadow: -7px 7px 5px #DEDEDE;
	font-size: 24px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	color: #464646;
	z-index: 100;
	top: -35px;
}

.tours {
	right: 0;
	background-color: white;
}

.hotels {
	background-color: #A2F5FF;
	right:175px; 
}

.flights {
	background-color: #A2F5FF;
	right:350px;
}

.ryan-destionation {
	width: 300px;
	height: 150px;
	margin-top: 140px;
	margin-left: 80px;
	float: left;
}

.ryan-destionation label {
	font-size: 28px;
	font-weight: bold;
	color: #464646;
	display: block;
	margin-bottom: 20px;
}

.ryan-destionation select {
	display: block;
	width: 100%;
	font-size: 20px;
	height: 45px;
	margin-bottom: 20px;
	border-radius: 0;
	color: #A7A5A5;
	border : 1px solid #8D8D8D;
	background-color: white;
}

.ryan-check {
	float: left;
	margin-top: 90px;
	margin-left: 85px;
}

.ryan-check .cin {
	float: left;
	width: 200px;
}

.ryan-check .cout {
	float: left;
	width: 200px;
}

.cin label, .cout label {
	font-size: 25px;
	font-weight: bold;
	color: #464646;
	display: block;
	margin-bottom: 20px;
}

.cin input, .cout input{
	border-radius: 0;
	color: #A7A5A5;
	border : 1px solid #8D8D8D;
	width: 180px;
	height: 45px;
}

.dm {
	float: left;
	margin-top: 50px;
	margin-left: 85px;
}

.dm .dm-duration {
	float: left;
	width: 140px;
	margin-right: 20px;
}

.dm .dm-members {
	float: left;
	width: 140px;
}

.dm-duration label, .dm-members label {
	font-size: 25px;
	font-weight: bold;
	color: #464646;
	display: block;
	margin-bottom: 20px;
}

.dm-duration select, .dm-members select{
	border-radius: 0;
	color: #A7A5A5;
	border : 1px solid #8D8D8D;
	width: 100%;
	height: 45px;
	background-color: white;
}

.search {
	float: left;
	margin-top: 60px;
	margin-left: 60px;
	border-radius: 20px;
}

.search input{
	width: 180px;
	height: 80px;
	font-size: 28px;
	color: white;
	background-color: #71F0FF;
	border-radius: 20px;
	border : 1px solid #8D8D8D;
	box-shadow: -7px 7px 5px #DEDEDE;
	line-height: 80px;
	text-align: center;
}

.search input:hover {
	color: #8D8D8D;
}